<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.christiancatenacci.Tracktify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotify-ios-quick-start</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LeagueSpartan-SemiBold.ttf</string>
		<string>LeagueSpartan-Black.ttf</string>
		<string>LeagueSpartan-Bold.ttf</string>
		<string>LeagueSpartan-ExtraBold.ttf</string>
		<string>LeagueSpartan-ExtraLight.ttf</string>
		<string>LeagueSpartan-Light.ttf</string>
		<string>LeagueSpartan-Medium.ttf</string>
		<string>LeagueSpartan-Regular.ttf</string>
	</array>
</dict>
</plist>
